#registrationTable {
    font-family: Raleway;
    border-collapse: collapse;
    width: 100%;
    vertical-align: middle;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.numLabel {
	align: right;
}